body {
  background-image: url('backgroundwood.png');
  color: #ffffff;
  font: 15px Courier New;
}

#about {
  color: #ff6600;
	margin-top: 10px;
	margin-left: 180px;
	width: 300px;
  float: left;
  background: transparent;
	text-align: center;
}

.aboutfixed {
  width: 300px;
  position: fixed;
}

#postarea {
  margin-top: 55px;
  margin-left: 50px;
  width: 500px;
  float: left;
  text-align: center;
}

h1 {
	background: transparent;
	color: #ffffff;
	font: 80px Courier New;
	width: 320px;
	margin: 0px;
  text-align: center;
  display: inline-block;
	border-bottom: #ff6600 solid 10px;
}

h2 {
	background: #ffffff;
	color: #ff6600;
	font: 25px Courier New;
	top: 0px;
	margin: 0px;
	width: 500px;
	border-bottom: #99ffcc solid 5px;
	text-align: center;
}

h3 {
  color: #99ffcc;
  font: 80px Courier New;
  margin: 0px;
  top: 0px;
  padding: 0px;
}

h4 {
  color: #99ffcc;
  font: 35px Courier New;
  margin: 0px;
  top: 0px;
  padding: 0px;
}

.about a:link, .about a:visited {
	color: #ff6600;
  width: 310px;
  background: #ffffff;
  border-right: #99ffcc solid 5px;
	text-decoration: none;
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 4px;
  margin-left: -5px;
}

.about a:hover {
  background: #f5f5f5;
  letter-spacing: 3pt;
}

a:link, a:visited {
  color: #ffffff;
  font: 15px Courier New;
  text-decoration: bold;
}

/* ----- SimpleForm Styles ----- */

.simple_form div.input {
  margin-bottom: 10px;
  clear: both; /* Required for Webkit, but not for Gecko */
}

.simple_form label {
  float: left;
  width: 120px;
  text-align: right;
  margin: 2px 10px;
}

div.boolean, .simple_form input[type='submit'] {
  margin-left: 120px;
}

div.boolean label, label.collection_radio_buttons {
  float: none;
  margin: 0;
}

label.collection_radio_buttons {
  margin-right: 10px;
  vertical-align: -2px;
  margin-left: 2px;
}

.field_with_errors {
  background-color: #ff3333;
}

.simple_form .error {
  clear: left;
  color: black;
  display: block;
  margin-left: 120px;
}

.simple_form .hint {
  clear: left;
  margin-left: 120px;
  color: #555;
  display: block;
  font-style: italic;
}

input.radio {
  margin-right: 5px;
  vertical-align: -3px;
}

input.check_boxes {
  margin-left: 3px;
  vertical-align: -3px;
}

label.collection_check_boxes {
  float: none;
  margin: 0;
  vertical-align: -2px;
  margin-left: 2px;
}

