body {
  background-image: url('backgroundwood.png');
  color: #ffffff;
  font: 15px Courier New;
}

.postarea {
	top: 50px;
	bottom: 100px;
	left: 550px;
  width: 500px;
  text-align: center;
  position: absolute;
}

.about {
  color: #ff6600;
	top: 230px;
	bottom: 100px;
	left: 210px;
	width: 300px;
  height: 384px;
  background: #99ffcc;
  border-right: #ffffff solid 5px;
  border-left: #ff6600 solid 5px;
  padding-right: 5px;
  padding-left: 5px;
	text-align: center;
	position: fixed;
}

h1 {
	background: transparent;
	color: #ffffff;
	font: 80px Courier New;
	position: fixed;
	width: 320px;
	margin: 0px;
	top: 20px;
	left: 210px;
	text-align: center;
  display: inline-block;
	border-bottom: #ff6600 solid 10px;
}

h2 {
	background: #ffffff;
	color: #ff6600;
	font: 25px Courier New;
	top: 0px;
	margin: 0px;
	width: 500px;
	border-bottom: #99ffcc solid 5px;
	text-align: center;
}

h3 {
  color: #ff6600;
  font: 100px Courier New;
  margin: 0px;
  top: 0px;
  padding: 0px;
}

.about a:link, .about a:visited {
	color: #ff6600;
  width: 310px;
  background: #ffffff;
  border-right: #99ffcc solid 5px;
	text-decoration: none;
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 4px;
  margin-left: -5px;
}

.about a:hover {
  background: #f5f5f5;
  letter-spacing: 3pt;
}

a:link, a:visited {
  color: #ffffff;
  font: 15px Courier New;
  text-decoration: bold;
}

/* ----- SimpleForm Styles ----- */

.simple_form div.input {
  margin-bottom: 10px;
  clear: both; /* Required for Webkit, but not for Gecko */
}

.simple_form label {
  float: left;
  width: 120px;
  text-align: right;
  margin: 2px 10px;
}

div.boolean, .simple_form input[type='submit'] {
  margin-left: 120px;
}

div.boolean label, label.collection_radio_buttons {
  float: none;
  margin: 0;
}

label.collection_radio_buttons {
  margin-right: 10px;
  vertical-align: -2px;
  margin-left: 2px;
}

.field_with_errors {
  background-color: #ff3333;
}

.simple_form .error {
  clear: left;
  color: black;
  display: block;
  margin-left: 120px;
}

.simple_form .hint {
  clear: left;
  margin-left: 120px;
  color: #555;
  display: block;
  font-style: italic;
}

input.radio {
  margin-right: 5px;
  vertical-align: -3px;
}

input.check_boxes {
  margin-left: 3px;
  vertical-align: -3px;
}

label.collection_check_boxes {
  float: none;
  margin: 0;
  vertical-align: -2px;
  margin-left: 2px;
}

